@import "../../globals.scss";

.herosection{
    background-color: $primary-black;
    height: calc(110vh - 5rem);
    .hero__container{
        display: flex;
        position: relative;
        
        .hero__left__section{
            background-color: $primary-black;
            color: $primary-white;
            flex: 0.5;
            .hero__left__wrapper{
                background-color: $primary-black;
                text-align: center;
                .hero__heading{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary-black;
                    flex-direction: column;
                    line-height: 0.5;
                    margin-top: 12rem;
                    h2{
                        z-index: 1;
                        padding-left: 13rem;
                        display: inline-flex;
                        background-color: rgba(0, 0, 0, 0);
                        font-family: 'Poppins', sans-serif;
                        color: $primary-yellow;
                        align-content: flex-end;
                        font-size: 2rem;
                    }
                    h1{
                        display: inline-flex;
                        background-color: $primary-black;
                        font-family: 'Lobster', sans-serif;
                        font-size: 10rem;
                        text-decoration: underline;
                        text-decoration-thickness: 0.4rem;
                        text-decoration-color: $primary-red;
                        text-underline-offset: 1rem;
                    }
                }
                .hero__info{
                    background-color: $primary-black;
                    text-align: center;
                    justify-content: center;
                    p{
                        text-align: center;
                        background-color: black;
                        width: 60%;
                        margin: 4rem auto;
                        font-family: 'Roboto', sans-serif;
                        letter-spacing: 1px;
                        font-weight: lighter;
                        line-height: 1.5;
                    }
                }
                .hero__contact{
                    display: flex;
                    background-color: $primary-black;
                    justify-content: center;
                    .hero__contact__container{
                        display: flex;
                        background-color: $primary-black;
                        border: 0.15rem solid $primary-red;
                        margin: 0px 0.3rem;
                        border-radius: 1rem;
                        padding: 0.8rem;
                        flex-basis: 220px;
                        .hero__icon__container{
                            padding: 0px 0.5rem;
                            background-color: $primary-black;
                            img{
                                background-color: $primary-black;
                                height: 3rem;
                            }
                        }
                        .hero__text__container{
                            padding: 0px 0.5rem;
                            background-color: $primary-black;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            line-height: 1.5;
                            .hero__first__text{
                                background-color: $primary-black;
                                font-family: 'Roboto', sans-serif;
                                font-size: 1rem;
                                font-weight: bold;
                            }
                            .hero__second__text{
                                background-color: $primary-black;
                                color: $primary-yellow;
                                font-family: 'Roboto', sans-serif;
                                font-size: 1rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .hero__right__section{
            background-color: $primary-black;
            flex: 0.6;
            display: block;
            text-align: center;
            img{
                height: 100%;
                background-color: $primary-black;
                height: calc(100vh - 5rem);
                overflow: hidden;
                object-fit: cover;
            }
        }
    }
}