@import '../../globals.scss';

.product{
    .product__wrapper{
        margin: 1rem 9rem;
        height: 60vh;
        display: flex;
        .product__img__container{
            height: 100%;
            flex: 1;
            img{
                height: 90%;
                object-fit: contain;
            }
        }
        .product__info__container{
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            .product__title{
                padding-bottom: 1rem;
            }
            .product__desc{
                padding-bottom: 1rem;
            }
            .product__price{
                padding-bottom: 1rem;
            }

            .filter__container{
                display: flex;
                width: 50%;
                justify-content: space-between;
                margin: 1rem 0rem;
                .filter{
                    display: flex;
                    align-items: center;
                    .filter__title{
                        font-size: 1rem;
                        font-weight: 200;
                    }
                    .select__filter{
                        margin-left: 0.5rem;
                        option{}
                    }
                    .filter__color{
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        margin: 0rem 0.25rem;
                        background-color: black;
                        cursor: pointer;
                    }
                }
            }
            .add__container{
                margin-top: 0.5rem;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .amount__container{
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    .amount__number{
                        width: 2rem;
                        height: 2rem;
                        border-radius: 0.5rem;
                        border:1px solid teal;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0rem 0.5rem;
                    }
                }
                .add__button{
                    padding: 0.8rem;
                    border: 1px solid teal;
                    background-color: white;
                    cursor: pointer;
                    &:hover{
                        background-color: #f8f4f4;
                    }
                }
            }
        }
    }
}