$primary-yellow: #fecd1a;
$secondary-yellow: #ffae00;
$primary-black: black;
$primary-red: #d94637;
$primary-white: white;
$primary-invisible: rgba(0,0,0,0);
$font-poppins: 'Poppins', sans-serif;
$font-lobster: 'Lobster', sans-serif;